{
  "yandex_headers": {
    "Host": "tc.mobile.yandex.net",
    "X-AppMetrica-UUID": "YOUR_UUID_HERE",
    "Content-Type": "application/json",
    "Authorization": "Bearer YOUR_TOKEN_HERE",
    "X-AppMetrica-DeviceId": "YOUR_DEVICE_ID",
    "X-YaTaxi-Authorization": "Bearer YOUR_TOKEN_HERE",
    "X-Yataxi-Ongoing-Orders-Statuses": "none",
    "Accept": "*/*",
    "X-Yandex-Jws": "YOUR_JWS_TOKEN",
    "X-YaTaxi-Last-Zone-Names": "moscow",
    "Accept-Language": "ru;q=1, ru-US;q=0.9, en-US;q=0.8",
    "Accept-Encoding": "gzip, deflate, br",
    "X-Mob-ID": "YOUR_MOB_ID",
    "X-YaTaxi-Has-Ongoing-Orders": "false",
    "User-Agent": "ru.yandex.ytaxi/700.126.0.502556 (iPhone; iPhone14,4; iOS 26.3; Darwin)",
    "Connection": "keep-alive",
    "X-YaTaxi-UserId": "YOUR_USER_ID"
  }
}
